<label for="title">Title</label>
<input type="text" name="title" id="title" maxlength="32" value="{{title}}">
<label for="paragraph">Paragraph</label>
<textarea name="paragraph" id="paragraph" cols="64" rows="8" maxlength="256">
  {{paragraph}}
</textarea>