
#grid {
    display: grid;

    max-width: 420px;
    max-height: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);

    background-image: radial-gradient(circle, #FFFFFF15 10%, transparent 10%);
    background-size: calc(100% / 12) calc(100% / 24); /* Adjust to match your grid size */
    background-position: calc(100% / 24) calc(100% / 48);

    padding: 20px;
    box-sizing: content-box;
}

.tile {
    min-width: 100px;
    box-sizing: border-box;
    overflow: auto;
}

.tile > .content {
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    margin: 0.25rem;
    padding: 0.5rem;
    color: white;
}

.experiences .experience {
    display: block;
    margin-top: 1rem;
}

.tile > .content.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile h4 {
    color: #2c3034;
}
