@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="center">
    <div id="textbox">
        <h1>@ViewData["Title"]</h1>
        <p>
            This website stores the id of the account you connect with and the tiles you add to your profile.
            All other data is removed after usage to ensure your privacy and safety.
        </p>
    </div>
</div>