:root {
    --column-count: 3;
}

#grids {
    display: flex;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    transition: flex-basis 0.3s ease;
}

#grid {
    display: grid;
    box-sizing: content-box;
    transition: width 0.5s, grid-template-columns 0.5s step-end;
    width: calc(var(--cell-size) * var(--column-count));
    grid-template-columns: repeat(var(--column-count), var(--cell-size));
}

.modal,
.tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.modal > .modal-content,
.tile > .tile-content {
    top: 0;
    box-sizing: border-box;
    margin: 0.75rem;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    color: white;
}

.tile:not(.not-draggable):hover,
.tile.sortable-chosen {
    outline: 1px solid #ffffff0f;
}

.tile button.edit-tile {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.tile:not(.sortable-chosen):hover button.edit-tile {
    opacity: 1;
}

.experiences .experience {
    display: block;
    margin-top: 1rem;
}

.modal {
    left: 50dvw;
    top: 50dvh;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    background-color: black;
    border: 1px dotted white;
}

.modal-content {
    display: block;
}

.modal #tileDefaults,
.modal .buttons,
.modal #tileAttributes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
}

.modal #tileAttributes {
    grid-template-columns: 1fr 5fr;
}

.modal #tileAttributes label {
    grid-column: 1;
}

.modal .amount button {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    float: right;
}

.modal .name,
.modal .percentage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.modal #modalError {
    color: red;
}