:root {
    --column-count: 3;
}

#grids {
    display: flex;
    max-height: 100%;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    transition: flex-basis 0.3s ease;
}

.grid {
    display: grid;
    box-sizing: content-box;
    grid-auto-flow: dense;
    transition: width 0.5s, grid-template-columns 0.5s step-end;
    width: calc(var(--cell-size) * var(--column-count));
    grid-template-columns: repeat(var(--column-count), var(--cell-size));
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: transform 0.5s ease;
}

.tile > .tile-content {
    top: 0;
    box-sizing: border-box;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    color: white;
    /*background: #000000FF;*/
    /*overflow: hidden;*/
}

.tile.highlight {
    border: 1px solid white;
}

.experiences .experience {
    display: block;
    margin-top: 1rem;
}

.tile h4 {
    color: #2c3034;
}
