@model global::Core.Models.Tiles.MailTileViewModel

<div class="content profile-picture">
    <h4>@Model.Title</h4>
    <a asp-controller="contact" asp-action="index" asp-route-id="0">
        Click here to send me an e-mail
    </a>
</div>