@using Core.Models.Tiles
@model ProfileViewModel

@{
    ViewData["Title"] = "Jordy Reins";
}

<script src="/js/fetch.js"></script>
<script src="/js/grid.js"></script>
<script src="/js/templates.js"></script>

<script id="user-template" type="text/x-handlebars-template">    
    <div class="content display-name">
        <h1>{{displayName}}</h1>
    </div>
</script>

<div id="grids">
     <div id="grid" class="grid">
     </div>
</div>