
<div id="grids">
     <div id="grid" class="grid">
          <div id="loading">
               <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FH84dHOwnJCKze%2Fsource.gif&f=1&nofb=1&ipt=56fb7c65ebf2c7be4975136af361b8ffa6ccae76825e52763859b43207098c3a&ipo=images" alt="Idle animation of pixel art dog">
               <h1>Loading...</h1>
          </div>
     </div>
</div>

<div id="tileModal" class="modal" style="display: none"></div>

<script src="/js/grid.js"></script>
<script src="/js/tile.js"></script>
<script src="/js/templates.js"></script>