@using Core.Models.Tiles
@model ProfileViewModel?

@{
    ViewData["Title"] = "Search Users";
}

<div class="center">
    <div>
        <h1>Search Page</h1>
        <p>This is coming soon™</p>
    </div>
</div>