@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <div>
        <h1>Welcome to Baseline</h1>
        <p>Sync your game accounts, build your profile,
            <br>and showcase your stats — all in one place!</p>

        <a asp-area="" asp-controller="users" asp-action="search">
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">Search Profiles</span>
            </button>
        </a>

        <a asp-area="" asp-controller="users" asp-action="index" asp-route-id="0">
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">Developer's Profile</span>
            </button>
        </a>
    </div>
</div>