@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="center">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>This website does currently not store any of your data.</p>
        <p>This might change while features are added.</p>
    </div>
</div>