@model Baseline.Models.Tiles.MailTileViewModel

<div class="content profile-picture">
    <h4>@Model.Title</h4>
    <a asp-controller="users" asp-action="mail" asp-route-id="0">
        Click here to send me an e-mail
    </a>
</div>