@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    string? cookieString = consentFeature?.CreateConsentCookie();
}

<div class="center">
    <div id="cookieConsent">
        <div class="content">
            <h4>Cookies</h4>
            <span>This website uses cookies to keep you logged in.</span>
            <div class="buttons">
                <button type="button" data-dismiss="alert" data-cookie-string="@cookieString">
                    <span aria-hidden="true">Accept</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        const button = document.querySelector("#cookieConsent button[data-cookie-string]");
        button.addEventListener("click", function (event) {
            document.cookie = button.dataset.cookieString;
            window.location.reload();
        }, false);
    })();
</script>