@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showBanner = !consentFeature?.CanTrack ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Baseline</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/tile.css" asp-append-version="true"/>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.0-preview.2.20167.3/signalr.js"></script>
    <script src="/js/fetch.js"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-area="" asp-controller="home" asp-action="index" class="nav-link">Home</a>
            </li>
            <li class="nav-item account">
                <a id="navAccount" asp-area="" asp-controller="auth" asp-action="index" class="nav-link">Login</a>
                <ul id="account-dropdown">
                    <li><a id="myProfile" href="/">My profile</a></li>
                    @* <li><a asp-controller="auth" asp-action="link">Link account</a></li> *@
                    <li><a asp-controller="auth" asp-action="logout">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<div id="container" class="center">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    &copy; 2025 - Baseline - <a asp-area="" asp-controller="privacy" asp-action="index">Privacy</a>
</footer>
<script>

    window["baseUri"] = @Environment.GetEnvironmentVariable("API_URL");
    
    document.addEventListener('DOMContentLoaded', async function() {
        const user = await getLoggedInUserRequest();
        if (user["userId"] !== undefined) {
            window.loggedIn = true;
            const button = document.getElementById("navAccount");
            button.innerHTML = "Account";
            button.onclick = (ev) => openAccountPopUp(ev);
            document.getElementById("myProfile").href = `/users/${user["userId"]}`;
        }
        else
        {
            window.loggedIn = false;
            document.getElementById("navAccount").innerHTML = "Login";
        }
    });

    function openAccountPopUp(ev) {
        if (window["loggedIn"]) {
            ev.preventDefault();
            document.getElementById("account-dropdown").style.display = "block";
        }
    }

    window.addEventListener('click', function(event) {
        const dropdown = document.getElementById("account-dropdown");
        const button = document.getElementById("navAccount");
        if (event.target !== button) {
            dropdown.style.display = 'none';
        }
    });

</script>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>