@using WebServer.Models
@model AuthPageModel

@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>Choose a platform to log in with</p>
        @foreach (var platform in Model.Platforms)
        {
            <a href="@platform.Url">@platform.Platform</a>
        }
    </div>
</div>