@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>Choose a platform to log in with</p>
        @foreach (var platform in Baseline.GetAllOAuthPlatforms())
        {
            <a href="@platform.OAuthUrl">@platform.PlatformName</a>
        }
    </div>
</div>