@using WebServer.Models
@model AuthPageModel

@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <div>
        @foreach (var platform in Model.Platforms)
        {
            <h1>@ViewData["Title"]</h1>
            <p>Choose a platform to log in with</p>
            <a href="@platform.Url">@platform.Platform</a>
        }
    </div>
</div>