@using WebServer.Models
@model AuthStatusModel

@{
    ViewData["Title"] = "Success";
}

<content class="center">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>You logged in with code</p>
        <p>@Model.Status</p>
    </div>
</content>