@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <div>
        <h1>Welcome to Baseline</h1>
        <p>This is a platform where one can make a profile
            <br> to present themselves by connecting different accounts.</p>
        <button type="button" data-dismiss="alert">
            <span aria-hidden="true">Search Profiles</span>
        </button>

        <a asp-area="" asp-controller="profile" asp-action="index">
            <button type="button" data-dismiss="alert" href="/profile">
                <span aria-hidden="true">Developer's Profile</span>
            </button>
        </a>
    </div>
</div>