@{
    ViewData["Title"] = "Home Page";
}
@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<div id="grid">
    <div class="tile profile-picture single">
        <img src="/resources/pfp.png" alt="Doctor Who 11th Doctor">
    </div>
    <div class="tile name wide">
        <h1 class="text-center">Jordy</h1>
    </div>
    <div class="tile wide">
        <h3>Opleidingen</h3>
        <text>
            HBO-ICT 2022 - Nu
            <br> Hogeschool Windesheim Zwolle
        </text>
        <br>
        <text>
            Atheneum 2015 - 2021
            <br> Vechtdal College Hardenberg
        </text>
    </div>
    <div class="tile single">
        <h3>Talen</h3>
        <text>
            Nederlands : 100%
            <br> Engels : 100%
            <br> Duits : 25%
        </text>
    </div>
</div>